# 4.6 Task

### Import libraries

In [1]:
import pandas as pd
import numpy as np
import os

### Import data

In [2]:
path = r'C:\Users\lydia\OneDrive\Documents\Career Foundry Data\Data Immersion\Acheivement 4\Instacart Basket Analysis May-2023'
ord_prod_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

### Checking dataframe

In [3]:
ord_prod_combined.shape

(32434489, 10)

Shape is consistent with the one exported

# Merging ord_prod_combined with products data

In [4]:
# Import products data 
df_prod = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [5]:
# Check shape to see if there are a similar number of rows and columns
df_prod.shape

(49672, 6)

Not the same length of rows and columns, therefore won't use Concatenation to merge

In [6]:
# Check column names in both data sets
ord_prod_combined.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_last_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [7]:
df_prod.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [8]:
# Drop unnamed columns in df_prod
df_prod = df_prod.drop(columns = ['Unnamed: 0'])

In [9]:
df_prod.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
# Drop the merge column from ord_prod_combined
# I initially tried the merge the two columns, however an ValueError appeared. 
# Therefore, need to remove this _merge column first
ord_prod_combined = ord_prod_combined.drop(columns = ['_merge'])

In [11]:
ord_prod_combined.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_last_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

Product_id is the common column for both dataframes and will therefore be used for the merge

In [21]:
# Merging the two datasets 
df_merge = ord_prod_combined.merge(df_prod, on = 'product_id', indicator = True)

MemoryError: Unable to allocate 247. MiB for an array with shape (2, 32434489) and data type int32

In [ ]:
# Confirming results of merge using the merge flag
df_merge['_merge'].value_counts()

In [ ]:
# Checking the dataframe shape
df_merge.shape

## Sorting out prices float16 columns

In [ ]:
df_merge

## Exporting the new merged dataframe

In [23]:
df_merge.to_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_merged.pkl'))